<app-auth-content>
  <div class="app-title">
    <div>
        <h1>
            <i class="fa fa-users"></i> รายการสมาชิก</h1>
        <p>หน้าแสดงรายการ สมาชิก ค้นหา และแก้ไข</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home fa-lg"></i>
        </li>
        <li class="breadcrumb-item">
            <a href="#">รายการสมาชิก</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <!-- ส่วนหัว -->
            <div class="tile-title-w-btn">
                <h3 class="title">
                    <i class="fa fa-list"></i> รายการข้อมูลสมาชิก
                </h3>   
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>รหัสทรัพย์สิน</th>
                            <th>ประเภททรัพย์สิน</th>
                            <th>ผู้รับผิดชอบ</th>
                            <th>แแผนก</th>
                            <th>สถานะ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="6">
                                จำนวนทรัพย์สินทั้งหมด 0 รายการ
                            </th>
                        </tr>
                    </tfoot>
                </table>
                <pagination previousText="หน้าก่อนหน้า" nextText="หน้าถัดไป" [totalItems]="30"></pagination>
            </div>
        </div>
    </div>
</div>
</app-auth-content>